OPENAI_COMPATIBLE_LLM_HOST_URL=https://ollama.com/v1
OPENAI_COMPATIBLE_LLM_API_KEY=your-api-key-here
OPENAI_COMPATIBLE_MAIN_AGENT_LLM=gemma4:cloud
OPENAI_COMPATIBLE_GENERIC_SUB_AGENT_LLM=gemma4:cloud
OPENAI_COMPATIBLE_CONTEXT_COMPRESSION_LLM=gpt-oss:120b-cloud

# OPENAI_COMPATIBLE_LLM_HOST_URL=https://api.groq.com/openai/v1
# OPENAI_COMPATIBLE_LLM_API_KEY=your-api-key-here
# OPENAI_COMPATIBLE_MAIN_AGENT_LLM=openai/gpt-oss-120b
# OPENAI_COMPATIBLE_GENERIC_SUB_AGENT_LLM=openai/gpt-oss-120b
# OPENAI_COMPATIBLE_CONTEXT_COMPRESSION_LLM=openai/gpt-oss-120b

# OPENAI_COMPATIBLE_LLM_HOST_URL=https://integrate.api.nvidia.com/v1
# OPENAI_COMPATIBLE_LLM_API_KEY=your-api-key-here
# OPENAI_COMPATIBLE_MAIN_AGENT_LLM=nvidia/nemotron-3-ultra-550b-a55b
# OPENAI_COMPATIBLE_GENERIC_SUB_AGENT_LLM=nvidia/nemotron-3-ultra-550b-a55b
# OPENAI_COMPATIBLE_CONTEXT_COMPRESSION_LLM=nvidia/nemotron-3-ultra-550b-a55b

# OPENAI_COMPATIBLE_LLM_HOST_URL=https://openrouter.ai/api/v1
# OPENAI_COMPATIBLE_LLM_API_KEY=your-api-key-here
# OPENAI_COMPATIBLE_MAIN_AGENT_LLM=nvidia/nemotron-3-ultra-550b-a55b
# OPENAI_COMPATIBLE_GENERIC_SUB_AGENT_LLM=nvidia/nemotron-3-ultra-550b-a55b
# OPENAI_COMPATIBLE_CONTEXT_COMPRESSION_LLM=nvidia/nemotron-3-ultra-550b-a55b

OLLAMA_HOST=https://ollama.com
OLLAMA_API_KEY=your-ollama-api-key
OLLAMA_MAIN_AGENT_MODEL=gemma4:cloud
OLLAMA_SUB_AGENT_MODEL=gemma4:cloud
OLLAMA_CONTEXT_COMPRESSION_MODEL=gpt-oss:120b-cloud

CONTEXT_TOKENS_ALLOWED=65536
AGENT_WORK_DIR=agent-work-dir-path

LOG_DIR=dev_logs
LOG_FILE=app.log

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=langsmith-api-key
LANGSMITH_PROJECT=langsmith-project-name

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_POOL_MAX_CONNECTIONS=50

CHAT_SESSION_EXPIRATION_TIME=1800